<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
</head>
<body>
    <h1>Task List</h1>
    <form method = "POST" action="/">
        <input type="hidden" name="csrf_token" value="{{form.scrf_token._value()}}" />
        <p>
            <label for="title">Title:</label>
            <input type="Text" name = "title" id="title" size="32" required />
        </p>  
        <p><input type="submit" value="Add task"/></p>
    </form>
    <ul id="task_list">

    </ul>
       
</body>
</html>